*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }



.header{
    height: 64px;
    border-bottom: 1px solid #73BE43;
    position: relative;
}

.header::after{
    content: "";
    width: 386px;
    height: 5px;
    background-color: #E9262D;
    position: absolute;
    left: 0;
    top: 64px;
}


.header__container{
    padding: 23px 33px 24px 33px;
}

.header__menu{
    display: flex;
    gap: 31px;
}

.header__menu-burger{
    display: block;
    position: relative;
    width: 32px;
    height: 19px;
}

.header__menu-burger span{
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    top: 8px;
    background-color: #E9262D;
}


.header__menu-burger::after,
.header__menu-burger::before{
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    background-color: #E9262D;
}
.header__menu-burger::before{
    top: 16px;
}






.container{
    padding: 34px 20px;
}

.tabs{
    display: flex;
    flex-direction: column;
}

.tabs h1{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}


.tabs__content{
    display: flex;
    align-items: flex-start;
    margin-top: 34px;
    gap: 10px;
}


.tabs__nav{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.tabs__nav-btn{
    width: 232px;
    height: 34px;
    padding: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: left;
    border-bottom: 1px solid #EEEEEE;
}
.tabs__nav-btn:hover{
   opacity: 0.8;
}

.tabs__nav-btn.active{
    color:  #E9262D;
}

.tabs__body{
    flex:1;
    padding-left:23px;
    padding-bottom: 20px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.tabs__block{
    display: none;
}

.tabs__block.active{
    display: block;
}

.tabs__block li { list-style-position: inside;}


.tabs__list-item {
    list-style-type: none;
    counter-increment: list;
    margin-top: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}

.tabs__list-item::before {
    content: counter(list) "";
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color:#E9262D;
    margin-right: 10px;
}


.tabs__list-items {
    list-style-type: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-top: 10px;
}

.tabs__list-items::before {
    content: "–";
    position: relative;
    left: -1px;
    font-size: 17px;
    color:#73BE43;
    margin-right: 10px;
}






.tabs__control{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 56px;
}

.tabs__control-btn{
    width: 189px;
    padding: 14px 45px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.tabs__control-btn:hover{
    opacity: 0.8;
}


.tabs__control-btn:disabled{
    background: rgba(28, 26, 26, 0.15);
}

.tabs__control-btn:hover:disabled{
    opacity: 1;
}